[user]
  name = Ian Cahoon
  email = icahoon@gmail.com
[push]
  default = tracking
[color]
  ui = auto
[core]
  editor = vim
  autocrlf = false
  filemode = false
[merge]
  tool = vimdiff
[url "git@github.com:"]
  insteadOf = https://github.com/
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
  addupstream = remote add upstream
  origin = config --get remote.origin.url
  upstream = config --get remote.upstream.url
  info = !echo "origin: $(git origin)" && echo "upstream: $(git upstream)"
  br = !git --no-pager branch -v && git --no-pager branch -vr
  f = fetch --all --prune
  m = merge --ff-only
  del = branch -D
  ff = pull --ff-only
  re = pull --rebase
  fff = !git fetch --all --prune && git pull --ff-only
  co = checkout
